body.wp-admin-bar {
  padding-top: 46px;
}

.gallery {
  margin: 15px 0;
  overflow: hidden;
  dl {
    margin: 0;
    padding: 0;
    float: left;
  }
  img {
    width: 100%;
  }
}

.gallery-columns-5 dl {
  width: 20%;
}

.gallery-columns-4 dl {
  width: 25%;
}

.gallery-columns-3 dl {
  width: 33.33%;
}

.gallery-columns-2 dl {
  width: 50%;
}

.alignleft {
  float: left;
  margin-right: 10px;
}

.alignright {
  float: right;
  margin-left: 10px;
}

.aligncenter {
  display: block;
  margin: 0 auto;
  margin-bottom: 1em;
}

.wp-pagenavi {
  margin: 30px 0;
  position: relative;
  height: 23px;
  text-align: center;
  font-size: 16px;

  span.current, a.page {
    display: inline-block;
    height: 23px;
    line-height: 23px;
    text-decoration: none;
    padding: 0 5px;
    border: 1px solid #d9d9d9;
    margin: 0 2px;
    transition-duration: 0.3s;
  }

  span.current {
    color: #888;
    background-color: #e1e1e1;
  }

  a.page:hover {
    color: #FFF;
    background-color: #7c7c7c;
    border-color: #7c7c7c;
  }
}

.previouspostslink {
  position: absolute;
  text-decoration: none;
  top: 0;
  left: 0;
  line-height: 23px;
  color: #808080;
  &:hover {
    text-decoration: underline;
  }
  &:before {
    content: '< '
  }
}

.nextpostslink {
  position: absolute;
  text-decoration: none;
  top: 0;
  right: 0;
  line-height: 23px;
  color: #808080;
  text-align: right;
  &:hover {
    text-decoration: underline;
  }
  &:after {
    content: ' >'
  }
}

@media only screen and (min-width: 780px) {
  body.wp-admin-bar {
    padding-top: 32px;
  }
}
